---
layout: base
permalink: /index.html
title: 'Jenny Faulkner '
description: 'Just some thoughts and writings.'
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Welcome to my site</h2>
      <p>
        This is a work in progress, and replaces an old wordpress site. 
      </p>

    </div>
  </article>

    <section class="full | region">
    <div class="wrapper flow prose">
      <h2>Explore Topics</h2>
      <p>Browse articles by theme:</p>
      <ul class="cluster" role="list">
        {% for tag in collections.tagList %}
          <li>
            <a href="/tags/{{ tag | slugify }}/" class="button">
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

</div>
