---
layout: base
permalink: /index.html
title: 'Jenny Faulkner '
description: 'Just some thoughts and writings.'

---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
    <h1 class="text-center hero-heading" style="color: var(--color-light);">{{ title }}</h1>
    </div>
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Welcome to my site</h2>

      <p>
        This is very much a work in progress, and replaces an old wordpress site. 
      </p>

    </div>
  </article>

    <section class="full | region">
    <div class="wrapper flow prose">
      <h2>Explore Topics</h2>
      <p>Browse articles by theme:</p>
      <ul class="cluster" role="list">
        {% for tag in collections.tagList %}
          <li>
            <a href="/tags/{{ tag | slugify }}/" class="button">
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

</div>
